.aniBoton:hover{
    animation-name: "boton";
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    border:5px solid rgba(0, 0, 0, 0.25);
}

