.elementoCamion{
    background-color: white;
    display: flex;
    border:rgb(170, 170, 170) 1px solid;

}

.imgCamion{
    width: 50px;
    height: 50px;
}

.desplegableCamion{
    color: $nav;
    text-decoration: none;
    list-style: none;
    font-size: 21px;
    background-color: white;
    border:5px $amarillo solid;
}
a:hover{
    color: $amarillo;
}

.muestraCamion{
    padding: 5%;
}