.compras{
    height: 100px;
    width: 100px;
}

.elementoTablas{
    vertical-align: middle;
}

.botonLink{
    text-decoration: none;
    font-size: 21px;
    color:black;
    font-weight: bolder;
    width: 100%;
}
.divBotonNo{
    text-align: center;
    
    border:rgb(170, 170, 170) 1px solid;

}
.divBoton{
    text-align: center;
    background-color: rgb(214, 214, 214);
    border:rgb(170, 170, 170) 1px solid;
}
.compraDesplegable{
    width: 40%;
}
.prodsCompra{
    margin: 2% 5%;
    width: 100%;
}