.label2{
    margin-left:5% ;
    font-size: 21px;
    padding: 3%;
    font-weight: bolder;
}

.cuotas{
    margin-bottom: 5%;
}

.textForm{
    width: 600px;
    margin-bottom: 5%;
}

.faltantes{
    font-size: 21px;
    color: red;
    font-weight: bolder;
}