
/* MENU DESPLEGABLE DE USUARIO */

  
.usuario{
    position: absolute;
    overflow: visible;
    z-index: 10000000;
    background-color: $amarillo;
    width: 25%;
    border: white 2px solid;
    top: 80%;
    left:65%;
}
.desplegableUsuario{
    text-decoration: none;
    list-style: none;
    background-color: $amarillo;
}
.inputUsuario{
    margin: 2%;
    width: 90%;
}
.imgUsuario{
    height: 75px;
    width: 75px;
    border-radius: 15%;
}

.labelUsuario{
    width: 100%;
    font-size: 21px;
    font-weight: bolder;
}

.formCorrecto{
    border: 3px solid green;
    color: green;
}
.formMal{
    border: 3px solid red;
    color: red;
}
.formVacio{
    border: 3px solid black;
    color: black;

}
.botonesUsuario{
    border-radius: 10%;
    justify-content: space-between;
    margin: 0% 5%;
}
.usuarioBoton{
    margin: 0%;
}