@media only screen and (max-width:577px) {
    .cats{
        width: 50%;
    }

    .caja{
        width:80%;
    }

    .form-control{
        width: 100%;
    }
    .boton{
        width:15%
    }
    .imgCarrousel{
        margin-top: 130px;
        margin-bottom: 20px;
        height: 300px;
    };
    .logo{
        height: 75px;
    }
    .table{
        width: 100%;

    }
    .inputCompras{
        width: 25px;
    }
    .elementoTablas{
        vertical-align: middle;
        font-size:15px ;
    }
    .compras{
        height: 100%;
        width: 125%;
    }
}