@media only screen and (max-width:577px) {
    .cats{
        width: 50%;
    }
    .validaciones{
        font-size: 12px !important;
    }
    .caja{
        width:80%;
    }

    .form-control{
        width: 100%;
    }
    .usuarioCelu {
        width: 100% !important;
        top: 80% !important;
        left: 0% !important;
    }
    .boton{
        width:15%
    }
    .imgCarrousel{
        margin-top: 35px;
        margin-bottom: 20px;
        height: 300px;
    };
    .logo{
        height: 90px;
        width: 95px;

    }
    .table{
        width: 100%;

    }
    .inputCompras{
        width: 25px;
    }
    .elementoTablas{
        vertical-align: middle;
        font-size:15px ;
    }
    .compras{
        height: 100%;
        width: 100%;
    }
    .inputCelu{
        width: 15px;
    }
    .inputUsuario{    
        margin: 2%;
        width: 90%;
        height: 25px;
    }
    
}