/* Linkeo de partials */
@import "colores";
@import "nav";
@import "footer";
@import "compras";
@import "cuerpo";
@import "titulos";
@import "animaciones";
@import "vistamobile";
body{
    background-color:$amarillo;
}

.agregar{
    margin: 15px 25%;
    border-radius: 10px;
    width: 50%;
    border:5px solid black;
}
.categorias{
    margin: 15px 10%;
    width: 80%;
    height: 70%;
    border-radius: 15px;
    background-color: #ffde59;
    border:5px solid $nav;
}
.cates{
    background-color: #1f1f1f;
    border-radius: 30px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    font-size: 20px;
}